<% provide :title, t(".title") %>
<h1><%= t "app.static_pages.contact.header1" %></h1>
<p>
  <%= t "app.static_pages.contact.text1" %>
  <%= link_to t("app.static_pages.contact.link1"), "http://www.railstutorial.org/contact" %>.
</p>
