<% if user.errors.any? %>
  <div class="error-explanation">
    <div class="alert alert-danger">
      <%= t "error_explanation.error_text" %>
      <%= pluralize user.errors.count, t("error_explanation.error") %>
    </div>
    <ul>
      <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
